.div{
    border: 2px dotted rgb(6, 87, 119);
     width: 350px;
    height: 400px;
}

h2{
    color: #fff;
    background-color: rgb(6, 87, 119);
}

p{
    color: yellow;
    background-color: rgb(6, 87, 119);
}

form{
    color: rgb(6, 87, 119);
}

button{
    color: #fff;
    background-color: rgb(6, 87, 119);
    width: 150px;
height: 30px;
}
